[Desktop Entry]
Encoding=UTF-8
Name=Evolution Tasks
Name[pl]=Lista zadań Evolution
Comment=The Evolution Groupware Suite
Exec=evolution -c tasks
Icon=stock_todo
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;ContactManagement;
StartupNotify=true
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-OtherBinaries=evolution-data-server-1.4;evolution-exchange-storage;evolution-alarm-notify;

